body {
  padding: 50px 100px;
}

.favorite {
  font-weight: bold;
}

li {
  cursor: pointer;
}

form {
  > div {
    margin: 5px 0;

    span {
      padding-left: 10px;
      font-size: 12px;
      color: #8c2526;
    }
  }
}